# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
*.db
*.opendb
*.opendb
*.ipch
*.vcxproj
*.filters
*.db
BionicGirl/BionicGirl/Debug/BionicGirl.tlog/CL.write.1.tlog
BionicGirl/BionicGirl/Debug/BionicGirl.tlog/CL.read.1.tlog
BionicGirl/BionicGirl/Debug/BionicGirl.tlog/CL.command.1.tlog
BionicGirl/BionicGirl/Debug/BionicGirl.log
BionicGirl/.vs/BionicGirl/v16/ipch/AutoPCH/fc1162c4158dd28d/PAUSESTATE.ipch
BionicGirl/.vs/BionicGirl/v16/ipch/AutoPCH/8f2f97d25f942b1e/GAME.ipch
BionicGirl/.vs/BionicGirl/v16/ipch/AutoPCH/89b705c13ab44203/GAMEOBJECT.ipch
BionicGirl/.vs/BionicGirl/v16/ipch/AutoPCH/4b1e48274be050f3/MAIN.ipch
BionicGirl/.vs/BionicGirl/v16/ipch/AutoPCH/3a7b5d74b04e8fac/MENUSTATE.ipch
BionicGirl/.vs/BionicGirl/v16/ipch/AutoPCH/234085a9b5fc004b/PLAYER.ipch
BionicGirl/.vs/BionicGirl/v16/Browse.VC.db
BionicGirl/.vs/BionicGirl/v16/.suo
BionicGirl/.vs/BionicGirl/v16/.suo
BionicGirl/.vs/BionicGirl/v16/Browse.VC.db
BionicGirl/.vs/BionicGirl/v16/ipch/AutoPCH/234085a9b5fc004b/PLAYER.ipch
BionicGirl/.vs/BionicGirl/v16/ipch/AutoPCH/8f2f97d25f942b1e/GAME.ipch
BionicGirl/.vs/BionicGirl/v16/ipch/AutoPCH/fc1162c4158dd28d/PAUSESTATE.ipch
BionicGirl/BionicGirl/Debug/vc142.idb
BionicGirl/BionicGirl/Debug/vc142.pdb
